@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Nanum+Gothic&family=Roboto+Slab&display=swap');


h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Slab', serif;
  }
  p,label{
    font-family: 'Jost', sans-serif;
  }
body{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-color: #F5F0BB;
}

/* header section */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    height: 120px;
    background-color: grey;
}

header img{
    border-radius: 50%;
    width: 100px;
}
nav{
    display: flex;
    gap: 5px;
    margin-right: 5px;

}
nav a{
    color: black;
    text-decoration: none;
}

/* footer */
footer{
    display: flex;
    justify-content: space-between;
    background-color:grey;
    color: white;
    text-align: center;
    height: 30px;
    padding-top: 5px;
    
}
/* main*/

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: inherit;
    gap: 50px;
    
}

#formSection{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    
}

#employeeForm{
    display: flex;
    flex-direction: column;
    justify-content:left;
    
}

#formDiv{
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: #5C8984;
    box-shadow: 8px 8px #545B77;
}

#submitButton{
    font-size: x-large;
    border-radius: 50px;
    background-color: #545B77;
}



#employeeSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
}

table , thead ,tbody,tfoot,th,td {
    border: 1px  ;
    text-align: center;
    padding: 30px;
    font-size: larger;
    background-color: grey;
    font-family: 'Roboto Slab', serif;
    border-radius: 20px;
    
    
}

